/* ========== FONTE DO GOOGLE  ========== */

/* ========== VARIÁVEIS ========== */
:root {

    /* Cores */
    --cor-primaria: rgb(250, 84, 87);
    /* --cor-titulo: ; */
    /* --cor-texto: ; */
    /* --cor-background: ; */
    
    /* Tipografia */
    --font-family: "Cera Round Pro";
    
    --body-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --icon-font-small: 24;
    --icon-font-medium: 32;
    --icon-font-large: 40;
}

/* ========== RESET ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========== BASE ========== */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    /* font-weight: ; */
}

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.main {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: brown;
}

.titulo {
    font-size: var(--h1-font-size);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ---------- rodapé ---------- */
.footer {
    position: relative;
    width: 100%;
    height: 3.5rem;
    left: 0px;
    bottom: 0px;

    background-color: var(--cor-primaria);
    text-align: center;
    align-content: center;
}

/*-=-=-=-=-= PRINCIPAL =-=-=-=-=-*/

/*----- cabeçalho -----*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 100;

    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor-primaria);
}

.header__nav{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;

    display: flex;
    padding: 5rem 2rem;
    visibility: hidden;
    
    background-color: var(--cor-primaria);
}

.header__nav-button--open,
.header__nav-button--close {
    font-size: 1.5rem;
    cursor: pointer;
    right: 0;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.header__nav-divisor {
    position: absolute;
    border-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    left: 0px;
    top: 185px;
}

.header__nav-button--close {
    position: absolute;
    top: 11px;
    right: 19px;
}

.show-menu {
    right: 0;
    visibility: visible;
}


/*----- banner -----*/
.main__banner {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    overflow: hidden;
    
}

.main__banner-img {
    width: 475px;
    top: -50px;
    position: relative;
}

.img {
    position: relative;
    top: -50px;
}

/*----- pesquisa -----*/
.pesquisa {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 12px;
    margin-top: 45px;
    gap: 10px;
}

.area__pesquisa {
    display: flex;
    gap: 10px;
}

.caixa__pesquisa {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    padding-left: 30px;
}

.botao-pesquisa {
    position: absolute;
    /* top: px; */
}

.filtro {
    height: 30px;
    width: 30px;
    background-color: rgb(167, 163, 172);
    border-radius: 6px;
    border: 1px solid red;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.categoria {

    display: none;
}

.mostrar-categoria {
    display: block;
}


.main__divider {
    margin: 0px 16px 30px 16px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0px 16px 0px 16px;
}

/* ----- jogos ----- */

.main__games {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 1rem 2rem 1rem;
    padding: 0px 1rem 0px 1rem;
    gap: 10px;
    margin: 0rem 1rem 2rem 1rem;
    padding: 0px 1rem 0px 1rem;
    gap: 10px;
}

.main__games-cover {
    width: calc(100%/3 - 2rem);
    flex-grow: 1;
    width: calc(100%/3 - 2rem);
    flex-grow: 1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.teste {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 5%, #000 100%);
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 50px;
}

.main__games-img {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    height: 100%;
}


.main__games-name {
    color: white;
    position: absolute;
    left: 23px;
    bottom: 40px;
}


/* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
.sobre {
    position: relative;
    padding: 1rem;
    margin: 1rem;
}

/*----- descrição -----*/
.sobre__description{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.ods {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 5rem;
}

.ods-img {
    width: calc((100% / 3) - 0.35rem);
}


/* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
.quem-somos {
    position: relative;
    padding: 1rem;
    margin: 1rem;
}

/* perfis */
.quem-somos__perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.quem-somos__perfil-foto {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgb(255, 242, 237);
}

.quem-somos__perfil-img {
    width: 100%;
}

/*----- ivy -----*/
.img1 {
    /*  */
}

/*----- juliana -----*/

.img2 {    
    top: -70px;
    position: relative;
}

/*----- vittoria -----*/
.img3 {
    /*  */
}

.quem-somos__perfil-info {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(228, 228, 228);
}

.quem-somos__perfil-membro{
    display: flex;
    padding-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.quem-somos__perfil-nome {
    text-align: center;
    margin-top: 0;
}

.quem-somos__perfil-social {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    text-align: center;
}

.quem-somos__perfil-descricao {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
.pagina__jogo {  /* seção */
    padding: 1rem;
    margin: 1rem;
}

.nome__jogo {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*----- jogo -----*/
.canvas {
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.como__jogar {  /* div */
    padding: 10px;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #e4e4e4;
    margin-bottom: 1rem;
}

/*----- informações -----*/
.info__jogo {  /* div */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.descricao__jogo {  /* dentro de info__jogo */
    border: 1px solid #e4e4e4;
    padding: 1rem;
    border-radius: 1rem;
}

.titulo__descricao {
    margin-bottom: 1rem;
}

.objetivos {
    border: 1px solid #e4e4e4;
    padding: 1rem;
    border-radius: 1rem;
}

.titulo__lista {
    margin-bottom: 1rem;
}

.lista_objetivos > li {  /* dentro de info__jogo */
    list-style: circle;
    list-style-position: inside;
}



/*========== MOBILE - PEQUENO ==========*/
@media (min-width: 475px) {

    /*-=-=-=-=-= BASE =-=-=-=-=-*/
    .container {
       max-width: 100%;
    }

    .header {
        /* background-color: ; */
    }

    .header__nav {
        /*  */
    }

    /*-=-=-=-=-= PRINCIPAL =-=-=-=-=-*/
    /*----- banner -----*/
    .main__banner-img {
        width: 100%;
    }

    /*----- jogos -----*/
    .main__games-cover {
        /*  */
    }

    .main__games-name {
        left: 15px;
    }
    
    /* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
    .quem-somos__perfil-foto {
        width: 100%;
        height: 400px;
        }

    .img2 {    
        top: -90px;
        width:100%;
        
        /* height: 100%; */
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        height: 300px;
    }
} 


/* ========== MOBILE - GRANDE ========== */
@media (min-width: 640px) {
    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 170px;
        height: 100%;
    }

    .main__games-name {
        left: 25px;
    }
    /* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
    .quem-somos__perfil-foto {
        width: 100%;
        height: 500px;
        }

    .img2{    
        top: -120px;
        width: 100%;
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        height: 350px;
    }
}


/* ========== TABLET ========== */
@media (min-width: 768px) {

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 200px;
        height: 100%;
    }

    .main__games-name {
        left: 40px;
    }




    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
    .sobre {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        
    }
    
    .ods-img {
        width: calc((100% / 5) - 0.4rem);
    }

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos {
        padding: 1.5rem;
        margin: 1.5rem;


    }
    .quem-somos__perfil {
        flex-direction: row;
        flex-grow: 1;
        height: 200px;
    }

    .quem-somos__perfil-foto {
        width: 30%;
        /* height: 200px; */
        }

    .img2{    
        top: -25px;
        width: 100%;
        /* height: 100%; */
        position: relative;
    }

    .quem-somos__perfil-info {
        width: 70%;
        overflow: hidden;
    }

    .img2{    
        top: -50px;
        width: 100%;
        position: relative;
    }


    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .pagina__jogo {  /* seção */
        padding: 1.5rem;
        margin: 1.5rem;
    }

    .canvas {
        background-color: rgb(212, 212, 212);
        width: 100%;
        height: 350px;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
    }

    .info__jogo {  /* div */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        border-radius: 1rem;
    }

    .descricao__jogo {
        width: 70%;
    }

    .objetivos {
        width: 30%;
    }
}

/* ========== DESKTOP - PEQUENO ========== */
@media (min-width: 1024px ) {
    .header__nav{
    
        position: static;
        width: auto;

        display: flex;
        align-items: center;
        padding: 0;

    }
    
    .header__nav-button--open,
    .header__nav-button--close {
        display: none;
    }
    
    .header__nav-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        visibility: visible;
    }
    
    .header__nav-divisor {
        position: relative;
        border-color: rgba(0, 0, 0, 0.315);
        width: 0px;
        top: 0px;
    }
    
    .header__nav-item {
        /* a */
    }
    
    .header__nav-button--close {
        display: none;
    }
    
    .show-menu {
        display: none;
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 300px;
        height: 170px;
    }

    .main__games-name {
        left: 100px;
    }

    /* -=-=-=-=-= JOGO =-=-=-=-=- */
    .canvas {
        /* height: 40550px; */
    }



    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
    .sobre {
        margin: 5rem 3rem 5rem 3rem;
    }

    .ods-img {
        width: calc((100% / 6) - 0.42rem);
    }
    
    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos {
        padding: 1rem;
        margin: 5rem 3rem 5rem 3rem;
    }

    .quem-somos__perfil {
        height: 220px;
    }
}

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos {
        padding: 1.5rem;
        margin: 1.5rem;


    }
    .quem-somos__perfil {
        flex-direction: row;
        flex-grow: 1;
        height: 200px;
    }

    .quem-somos__perfil-foto {
        width: 30%;
        /* height: 200px; */
        }

    .img2{    
        top: -25px;
        width: 100%;
        /* height: 100%; */
        position: relative;
    }

    .quem-somos__perfil-info {
        width: 70%;
        overflow: hidden;
    }

    .img2{    
        top: -50px;
        width: 100%;
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .pagina__jogo {  /* seção */
        margin: 5rem 3rem 5rem 3rem;
    }

    .canvas {
        height: 500px;

    }

    .info__jogo {  /* div */
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .descricao__jogo {  /* dentro de info__jogo */
        /* width: 70%; */
        border: 1px solid #e4e4e4;
        padding: 1rem;
        border-radius: 1rem;
        width: 70%;
    }




/* ========== DESKTOP - MÉDIO ========== */
@media (min-width: 1280px) {

    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
    .sobre {
        margin-left: 15rem;
        margin-right: 15rem;
        
    }

    .ods-img {
        width: calc((100% / 7) - 0.43rem);
    }

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos {
        margin-left: 15rem;
        margin-right: 15rem;
    }


    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 380px;
        height: 220px;
    }

    .main__games-name {
        left: 100px;
    }

    /* -=-=-=-=-= JOGO =-=-=-=-=- */

    .pagina__jogo {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .canvas {
        height: 500px;

    }

    .info__jogo {  /* div */

    }

    .descricao__jogo {  /* dentro de info__jogo */
        /* width: 70%; */
        border: 1px solid #e4e4e4;
        padding: 1rem;
        border-radius: 1rem;
        width: 70%;
    }


}






/* ========== DESKTOP - GRANDE ========== */
@media (min-width:1536px) {

    /* -=-=-=-=-= PRINCIPAL =-=-=-=-=- */

    .pesquisa {
        margin-left: 25rem;
        margin-right: 25rem;
    }

    .main__divider{
        margin-left: 25rem;
        margin-right: 25rem;
    }

    /* ---------- jogos ---------- */
    .main__games {
        margin-left: 25rem;
        margin-right: 25rem;
    }
    
    .main__games-cover {
        position: relative;
        width: calc(100% / 3);
        /* height: 270px; */
    }

    .main__games-name {
        left: 170px;
    }

    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
    .sobre {
        margin-left: 25rem;
        margin-right: 25rem;
        
    }

    .ods-img {
        width: calc((100% / 8) - 0.44rem);
    }

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos {
        margin-left: 25rem;
        margin-right: 25rem;
    }
    
    /* -=-=-=-=-= JOGO =-=-=-=-=- */
    .pagina__jogo {
        margin-left: 25rem;
        margin-right: 25rem;
    }

}