/* ========== FONTE DO GOOGLE  ========== */

/* ========== VARIÁVEIS ========== */
:root {

    /* Cores */
    --cor-primaria: rgb(250, 84, 87);
    /* --cor-titulo: ; */
    /* --cor-texto: ; */
    /* --cor-background: ; */
    
    /* Tipografia */
    --font-family: "Cera Round Pro";
    
    --body-font-size: 1rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --icon-font-small: 24;
    --icon-font-medium: 32;
    --icon-font-large: 40;
}

/* ========== RESET ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========== BASE ========== */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    /* font-weight: ; */
}

.container {
    margin: 5rem 1.5rem 3rem 1.5rem;
}

.main {
    padding: 1rem;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: brown;
}

.titulo {
    font-size: var(--h1-font-size);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ---------- rodapé ---------- */
.footer {
    position: relative;
    width: 100%;
    height: 3.5rem;
    left: 0px;
    bottom: 0px;

    background-color: var(--cor-primaria);
    text-align: center;
    align-content: center;
}

/*-=-=-=-=-= PRINCIPAL =-=-=-=-=-*/

/*----- cabeçalho -----*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 100;

    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor-primaria);
}

.header__nav{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;

    display: flex;
    padding: 5rem 2rem;
    visibility: hidden;
    
    background-color: var(--cor-primaria);
}

.header__nav-button--open,
.header__nav-button--close {
    font-size: 1.5rem;
    cursor: pointer;
    right: 0;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.header__nav-divisor {
    position: absolute;
    border-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    left: 0px;
    top: 185px;
}

.header__nav-button--close {
    position: absolute;
    top: 11px;
    right: 19px;
}

.show-menu {
    right: 0;
    visibility: visible;
}


/*----- banner -----*/
.banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 35px;
}

.banner__img {
    width: 100%;
    position: relative;
    top: -20px;
}

/*----- pesquisa -----*/
.main__pesquisa {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 12px;
}

.area__pesquisa {
    display: flex;
    gap: 0.7rem;
}
.pesquisa {
    display: flex;
    position: relative;
    width: 100%;
}

.caixa__pesquisa {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
    padding-left: 30px;
}

.botao-pesquisa {
    position: absolute;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
}

.filtro {
    height: 30px;
    width: 30px;
    background-color: rgb(167, 163, 172);
    border-radius: 6px;
    border: 1px solid red;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.categoria {

    display: none;
}

.mostrar-categoria {
    display: block;
}


.main__divider {
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0px 16px 0px 16px;
    margin-bottom: 1rem;
}

/* ----- jogos ----- */

.main__games {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 1rem 0px 1rem;
    gap: 1rem;
    position: relative;
}

.main__games-game {
    width: calc(100% / 3 - 1rem);
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    position: relative;
}

.main__games-cover {
    z-index: 0;
    position: relative;
}

.main__games-cover-shadow {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 55%, #000 100%);
    height: 100%;
    position: relative;
    z-index: 1;
}

.main__games-img {
    width: 100%;
    position: relative;
}


.main__games-name {
    color: rgb(199, 49, 49);
    position: absolute;
    left: 23px;
    bottom: 40px;
    z-index: 2;
}


/* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
.sobre {
    position: relative;
}

/*----- descrição -----*/
.sobre__description{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.ods {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.ods-img {
    width: calc((100% / 3) - 0.35rem);
}


/* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
.quem-somos {
    position: relative;
}

/* perfis */
.quem-somos__perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.quem-somos__perfil-foto {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgb(255, 242, 237);
}

.quem-somos__perfil-img {
    width: 100%;
}

/*----- ivy -----*/
.img1 {
    /*  */
}

/*----- juliana -----*/

.img2 {    
    top: -70px;
    position: relative;
}

/*----- vittoria -----*/
.img3 {
    /*  */
}

.quem-somos__perfil-info {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(228, 228, 228);
}

.quem-somos__perfil-membro{
    display: flex;
    padding-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.quem-somos__perfil-nome {
    text-align: center;
    margin-top: 0;
}

.quem-somos__perfil-social {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    text-align: center;
}

.quem-somos__perfil-descricao {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */

.nome__jogo {
    margin-bottom: 1rem;
}

/*----- jogo -----*/
.canvas {
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.como__jogar {  /* div */
    padding: 10px;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #e4e4e4;
    margin-bottom: 1rem;
}

/*----- informações -----*/
.info__jogo {  /* div */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1rem;
}

.descricao__jogo {  /* dentro de info__jogo */
    border: 1px solid #e4e4e4;
    padding: 1rem;
    border-radius: 1rem;
}

.titulo__descricao {
    margin-bottom: 1rem;
}

.objetivos {
    border: 1px solid #e4e4e4;
    padding: 1rem;
    border-radius: 1rem;
}

.titulo__lista {
    margin-bottom: 1rem;
}

.lista_objetivos > li {  /* dentro de info__jogo */
    list-style: circle;
    list-style-position: inside;
}



/*========== MOBILE - PEQUENO ==========*/
@media (min-width: 475px) {


    /*-=-=-=-=-= PRINCIPAL =-=-=-=-=-*/
    /*----- banner -----*/
    .main__banner {
        width: 100%;
        height: 220px;
    }

    .main__banner-img {
        width: 100%;
        top: -20px;
    }
    
    /* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
    .quem-somos__perfil-foto {
        width: 100%;
        height: 400px;
        }

    .img2 {    
        top: -90px;
        width:100%;
        
        /* height: 100%; */
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        height: 250px;
    }
} 


/* ========== MOBILE - GRANDE ========== */
@media (min-width: 640px) {
    /*-=-=-=-=-= BASE =-=-=-=-=-*/


    /* PRINCIPAL */
    /*----- banner -----*/
    .main__banner {
        width: 100%;
        height: 250px;
    }

    .main__banner-img {
        width: 100%;
        top: -20px;
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 170px;
        height: 100%;
    }

    .main__games-name {
        left: 25px;
    }
    /* -=-=-=-=-= QUEM SOMOS =-=-=-=-=- */
    .quem-somos__perfil-foto {
        width: 100%;
        height: 500px;
        }

    .img2{    
        top: -120px;
        width: 100%;
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        height: 350px;
    }
}


/* ========== TABLET ========== */
@media (min-width: 768px) {
    .container {
        margin: 5rem 2rem 5rem 2rem;
    }
    .main {
        padding: 1.5rem;
        position: relative;
    }
    /* PRINCIPAL */
    /*----- banner -----*/
    .main__banner {
        width: 100%;
        height: 330px;
    }

    .main__banner-img {
        width: 100%;
        position: relative;
        top: -100px;
    }

    /*----- pesquisa -----*/
    .main__pesquisa {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 12px;
        justify-content: space-between;
    }

    .area__pesquisa {
        display: flex;
        width: 70%;
    }
    .pesquisa {
        display: flex;
        position: relative;
        width: 100%;
    }

    .caixa__pesquisa {
        height: 35px;
        width: 100%;
        border-radius: 10px;
        background-color: aliceblue;
        padding-left: 30px;
    }

    .botao-pesquisa {
        position: absolute;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    .filtro {
        display: none;
    }

    .categoria {
        display: flex;
        gap: 0.5rem;
    }

    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 200px;
        height: 100%;
    }

    .main__games-name {
        left: 40px;
    }




    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */
    
    .ods-img {
        width: calc((100% / 5) - 0.4rem);
    }

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */

    .quem-somos__perfil {
        flex-direction: row;
        flex-grow: 1;
        height: 200px;
    }

    .quem-somos__perfil-foto {
        width: 30%;
        /* height: 200px; */
        }

    .img2{    
        top: -25px;
        width: 100%;
        /* height: 100%; */
        position: relative;
    }

    .quem-somos__perfil-info {
        width: 70%;
        overflow: hidden;
    }

    .img2{    
        top: -50px;
        width: 100%;
        position: relative;
    }


    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        background-color: rgb(212, 212, 212);
        width: 100%;
        height: 380px;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
    }

    .info__jogo {  /* div */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1rem;

    }

    .descricao__jogo {
        width: 70%;
    }

    .objetivos {
        width: 30%;
    }
}

/* ========== DESKTOP - PEQUENO ========== */
@media (min-width: 1024px ) {
    /* BASE */
    .container {
        margin: 5rem 3rem 5rem 3rem;
    }

    .main {
        padding: 2rem;
        position: relative;
    }
    

    .header__nav{
        position: static;
        width: auto;

        display: flex;
        align-items: center;
        padding: 0;
    }
    
    .header__nav-button--open,
    .header__nav-button--close {
        display: none;
    }
    
    .header__nav-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        visibility: visible;
    }
    
    .header__nav-divisor {
        position: relative;
        border-color: rgba(0, 0, 0, 0.315);
        width: 0px;
        top: 0px;
    }
     
    .header__nav-button--close {
        display: none;
    }
    
    .show-menu {
        display: none;
    }

    /*-=-=-=-=-= PRINCIPAL =-=-=-=-=-*/

    /*----- jogos -----*/
    .main__games-cover {
        position: relative;
        width: 300px;
        height: 170px;
    }

    .main__games-name {
        left: 100px;
    }

    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */

    .ods-img {
        width: calc((100% / 6) - 0.42rem);
    }
    
    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
    .quem-somos__perfil {
        height: 220px;
    }

    .quem-somos__perfil-info {
        width: 70%;
        overflow: hidden;
    }

    .img2{    
        top: -50px;
        width: 100%;
        position: relative;
    }

    /* -=-=-=-=-= PÁGINA DO JOGO =-=-=-=-=- */
    .canvas {
        height: 500px;
    }

    .info__jogo {  /* div */
        flex-direction: row;
    }

    .descricao__jogo {  /* dentro de info__jogo */

        border: 1px solid #e4e4e4;
        padding: 1rem;
        border-radius: 1rem;
        width: 70%;
    }
}


/* ========== DESKTOP - MÉDIO ========== */
@media (min-width: 1280px) {
    .container {
        display: flex;
        position: relative;
        justify-content: center;
        max-width: 1280px;
        left: calc(100% / 10)

    }
    /* -=-=-=-=-= SOBRE O PROJETO =-=-=-=-=- */

    .ods-img {
        width: calc((100% / 7) - 0.43rem);
    }

    /* -=-=-=-=-= QUEM-SOMOS =-=-=-=-=- */
 


    /* ---------- jogos ---------- */
    .main__games-cover {
        position: relative;
        width: 380px;
        height: 220px;
    }

    .main__games-name {
        left: 100px;
    }

    /* -=-=-=-=-= JOGO =-=-=-=-=- */



    .canvas {
        height: 600px;

    }

    .descricao__jogo {  /* dentro de info__jogo */
        /* width: 70%; */
        border: 1px solid #e4e4e4;
        padding: 1rem;
        border-radius: 1rem;
        width: 70%;
    }


}