/*---------- VARIÁVEIS ----------*/
:root {
    --cor-primaria: rgb(250, 84, 87); 
}

/*---------- RESET ----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- BASE ---------- */
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* tirar a borda depois */
    border: solid ;
}

.main {
    margin-top: 50px;
    height: 100vh;
}


canvas {
    background-color: antiquewhite;
    width: 100%;
    height: 250px;
    border-color: aquamarine;
}

h1, h2, h3, h4 {
    color: brown;
}

/* ---------- CONTEÚDO ---------- */

/* ---------- Cabeçalho ---------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;

    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor-primaria);
}

.header__nav{
    
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;

    display: flex;
    padding: 5rem 2rem;
    
    
    
    background-color: var(--cor-primaria);
    
    /* backdrop-filter: blur(16px); */


}

.header__nav--open,
.header__nav--close {
    font-size: 1.5rem;
    cursor: pointer;
    right: 0;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.header__nav-divisor {
    position: absolute;
    border-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    left: 0px;
    top: 185px;
}

.header__nav-item {
    /* a */
}

.header__nav--close {
    position: absolute;
    top: 11px;
    right: 19px;
}

.show-menu {
    right: 0;
}

/* ---------- principal ---------- */


/* -------- banner --------- */
.banner {
    margin-bottom: 45px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
    overflow: hidden;
    
}

.banner__img {
   
    width: 475px;
    top: -50px;
    position: relative;
    
    
    
}

.img {
    position: relative;
    top: -50px;
}

/* filtro */
.filtro  {
    width: 100%;
    display: flex;
    
    padding: 0px 16px 0px 16px;
    margin-bottom: 12px;
    gap: 10px;
    /* border: solid; */
}

.pesquisa {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
}

.opcoes {
    display: none;
}

.opcoes-mobile {
    height: 30px;
    width: 30px;
    background-color: rgb(167, 163, 172);
    border-radius: 6px;
    border: 1px solid red;
    align-content: center;
    text-align: center;
}


.jogos-divisor {
    margin: 0px 16px 30px 16px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0px 16px 0px 16px;

}

/* ---------- jogos ---------- */

.jogos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 0px 16px 0px 16px;
    /* row-gap: 30px; */
    gap: 1em;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.jogo{
    width: 120px;
    border-radius: 20px;
   
}

 /* ---------- rodapé ---------- */

.footer {
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    background-color: var(--cor-primaria);
    text-align: center;
    align-content: center;
}



@media (min-width: 475px) {

    .container {
       max-width: 475px;

    }

    .header {
    
    }

    .header__nav {
  
    }
    
} 